<!DOCTYPE html>
<html lang="pt-br">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="./js/index.js"></script>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto Academy Coding</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="AppCrud" ng-controller="indexController">
	<div id="div2">
		<form>
			<label>Nome:</label><input ng-model="pessoa.nome" type="text" name="nome" id="nome" required>
			<br />
			<br />
			<label for="phone">Telefone:</label>
			<input type="tel" id="phone" name="phone" ng-model="pessoa.numero" pattern="[0-9]{2} [0-9]{5}-[0-9]{4}"
				required>
			<small>Formato: xx xxxxx-xxxx</small>
			<br />
			<br />
			<button type="submit" value="cadastro" id="botao1" ng-click="Salvar()">Enviar</button>
			<div ng-repeat="organizando in pessoas">
				{{ ' Nome: '+organizando.nome }}

				<div id="Show" ng-init="Show = false" ng-show="Show">{{ ' | ID:
					'+ organizando.id + ' | Nome: '+ organizando.nome + ' |
					Numero: '+organizando.numero}}</div>
				<button type="button" ng-click="Show = !Show">Mostar</button>
				<input type="button" value="Excluir" ng-click="ExcluirPessoa(organizando)" /> <input type="button"
					value="Alterar" ng-click="AlterarPessoa(organizando)" />
			</div>
		</form>
	</div>
</body>

</html>